$font-stack: "Helvetica Neue";
$thin: 100;
$light: 200;
$medium: 400;
$bold: 500;
$reg-phone-screen: "only screen and (max-width : 512px)";
$sm-phone-screen: "only screen and (max-width : 320px)";
@mixin bg-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin defalut-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: $bold;
  line-height: 23px;
  margin: 0;
  color: white;
  background-color: #efefef;
}

h1 {
  // position: absolute;
  font-size: 23px;
}

h3 {
  // position: absolute;
  font-size: 17px;
  font-weight: $medium;
}

p {
  // position: absolute;
  font-size: 14px;
  font-weight: $thin;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  .progress-bar-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    height: 5px;
    width: 100%; // border: 2px solid black;
    background-color: #FFCCBC;
  }
  .progress-bar {
    // position: absolute;
    height: 5px; // width: 5px;
    background-color: #FF5722; //#1E88E5; // border: 3px solid yellow;
  }
}

.nav-container {
  @include defalut-flex();
  height: 48px; // position: fixed; /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  background-color: rgba(38, 50, 56, 0.95); // border: 1px solid red; // z-index: 1;
  .nav-item-contatiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 70%; // border: 1px solid blue;
    @media #{$reg-phone-screen} {
      width: 90%;
    }
    .nav-item {
      @include defalut-flex();
      height: 80%; // width:10%;
      // border: 1px solid green; 
      // canvas {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
      // .logo-svg {
      //   height: 100%;
      //   width: 100%;
      //   color:navy
      // }
    }
    .item-1 {
      width: 5%; // #logo-svg {
      //   height: 80px;
      //   width:80px;
      // }
      @media #{$reg-phone-screen} {
        width: 10%;
      }
    }
    canvas {
      @include defalut-flex(); // width: 100%;
      // height: 100%; 
      border: 3px solid pink; // display: block;
    }
  }
  a {
    font-size: 1em;
    color: white;
    letter-spacing: 3px; // font-weight: $medium;
    text-align: center;
    text-decoration: none;
    @media #{$reg-phone-screen} {
      font-size: 12px;
    }
    @media #{$sm-phone-screen} {
      font-size: 9px;
    }
  }
  a:hover {
    // margin-bottom: 10px;
    padding-bottom: 5px;
    text-decoration: underline;
  }
}

.background {
  position: relative; // background-color: white;
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; // border: 1px solid black;
  background-attachment: fixed; // background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media #{$reg-phone-screen} {
    // position: fixed;
    background-attachment: scroll;
  }
}

.page-1 {
  background-color: #B9D5FF; // background: no-repeat center center fixed; // -ms-transform: scale(2, 3); /* IE 9 */
  flex-direction: column;
}

.page-2 {
  // background: url("../img/bg_img_2.svg") no-repeat center center fixed;
}

.page-3 {
  background: url("../img/second-page-bg.png") no-repeat center center fixed;
}

.page-4 {
  background: url("../img/63.jpg") no-repeat center center fixed;
}

.page-1,
.page-2,
.page-3,
.page-4 {
  @include bg-size(cover);
  @include defalut-flex();
  .main-content-container {
    @include defalut-flex(); // flex-wrap: wrap;
    width: 80%;
    height: 50%;
    // font-size: 50px;
    color: rgb(4, 0, 255); 
    border: 2px solid pink;
    .about-content {
      width: 45%;
      height: 45%; // position: relative;
      // border: 1px solid black;
      @include defalut-flex();
      .ac-1 {
        // border: 3px solid black;
      }
      .ac-2 {
        // border: 3px solid white;
      }
    } // @media #{$reg-phone-screen} {
    //   height: 80%;
    // }
  }
}

.ac-3 {
  width: 90%;
  height: 45%; // border: 3px solid green;
}

.cloud-wrapper {
  position: absolute;
  @include defalut-flex(); // border: 2px solid blueviolet;
  width: 100%;
  height: 15%;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 1%;
}

.cloud {
  @include defalut-flex();
  position: relative;
  width: 30%;
  height: 100%; // border: 2px solid black;
  z-index: 2;
  #cloud1 {
    width: 70%;
    height: 70%;
  }
  #cloud2 {
    width: 50%;
    height: 50%;
  }
  #cloud3 {
    width: 80%;
    height: 80%;
  }
}

.cloud1 {
  justify-content: flex-start;
  align-items: flex-start;
}

.cloud2 {
  justify-content: flex-start;
  align-items: flex-end;
}

.page-content-container {
  @include defalut-flex(); // align-items: flex-start;
  width: 100%;
  height: 20%; // margin-bottom: 10%; 
  // border: 1px solid black;
  @media #{$reg-phone-screen} {
    height: 15%;
    // margin-bottom: 10%;
  } 
}

#main-page-title {
  height: 40%;
  @media #{$reg-phone-screen} {
    height: 15%;
  }
}
#empty {
  height: 0%;
  @media #{$reg-phone-screen} {
    height: 15%;
  }
}
#ship-and-rocket {
  justify-content: space-around;
}

.loading {
  @include defalut-flex();
  display: inline;
  width: 80%;
  font-family: 'Fredericka the Great';
  font-size: 13vmin;
  // text-align: center;
  // border: 2px solid black;
  @media #{$reg-phone-screen} {
    font-size: 105px;    
  }
}
.water-fill {
  // -webkit-animation: wave 0.7s infinite linear, fill-up 10s infinite ease-out alternate;
          animation: wave 1s infinite linear, fill-up 10s ease-out alternate;
}
@-webkit-keyframes wave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}
@keyframes wave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}
@-webkit-keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}
@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}

.wave {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  right: 0; // top:0;
  bottom: 0;
  z-index: 1;
  @media #{$reg-phone-screen} {
    height: 50%;
  }
}

.wave+.wave {
  z-index: 2;
}

.helper,
.rocket-drone-wrapper {
  @include defalut-flex();
  position: relative;
  width: 30%;
  height: 100%;
  // border: 2px solid blue;
  flex-direction: column;
  #boat-svg{
    width: 100%;
    height: 100%; // border: 2px solid red;
  }
  @media #{$reg-phone-screen} {
    width: 40%;
  }
}

.landingProgress {
  position:relative;
  @include defalut-flex();
  font-size: 1.5vmin;
  height:40%;
  // border: 1px solid black;
  z-index: 5;
  pre code {
    position:relative;
    border-radius: 10px;
    // border: 1px solid red;
    // margin-bottom: 50px;
  }
  @media #{$reg-phone-screen} {
    display:none;
  }
}
.rocket,
.drone {
  @include defalut-flex();
  position: relative;
  width: 70%;
  // border: 2px solid red;
}

.rocket {
  // justify-content: flex-end;
  margin-top: 3%;
  width: 100%;
  z-index: 1;
  @media #{$reg-phone-screen} {
    margin-top: 17%;
    width: 50%;
  }
}

.drone {
  width: 100%;
  min-width: 300px;
  @media #{$reg-phone-screen} {
    min-width: 170px;
  }
}

.rocket {
  height: 80%;
  animation: landing 15s ease-in-out 0s alternate forwards;
  @media #{$reg-phone-screen} {
    animation: landingMobile 15s ease-in-out 0s alternate forwards;
  }
}

@keyframes landing {
  0% {
    bottom: 700px;
    left: 250px;
  }
  40% {
    bottom: 100px;
    left: 100px;
  }
  80% {
    bottom: 40px;
    left: 90px;
  }

  100% {
    bottom: 0px;
    left: 115px;
  }
}
@keyframes landingMobile {
  0% {
    bottom: 500px;
    left: 10px;
  }
  40% {
    bottom: 100px;
    left: 50px;
  }
  80% {
    bottom: 40px;
    left: 5px;
  }
  100% {
    bottom: 5px;
    left: 0px;
  }
}

#red-flame,
#orange-flame,
#yellow-flame {
  animation: stopFrame 10s ease-in-out 5s alternate forwards;
}

@keyframes stopFrame {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.drone {
  animation: catching 15s ease-in-out 0s alternate forwards;
}

@keyframes catching {
  0% {
    left: 200px;
  }
  30% {
    left: -20px;
  }
  60% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

.helper {
  animation: floating 4s ease-in-out 0s infinite alternate;
}

@keyframes floating {
  0% {
    bottom: 5px;
  }
  100% {
    bottom: 15px;
  }
}

@media #{$reg-phone-screen} {
  @keyframes floating {
    0% {
      bottom: -17px;
    }
    100% {
      bottom: -13px;
    }
  }
}

.cloud1 {
  animation: roaming 6s ease-in-out 0s infinite alternate;
}

.cloud2 {
  animation: roaming 9s ease-in-out 1s infinite alternate;
}

.cloud3 {
  animation: roaming 8s ease-in-out 2s infinite alternate;
}

@keyframes roaming {
  0% {
    left: 0px;
  }
  100% {
    left: 100px;
  }
}

@media #{$reg-phone-screen} {
  @keyframes roaming {
    0% {
      left: 0px;
    }
    100% {
      left: 25px;
    }
  }
}

// .page-2 path {
//   stroke-dasharray: 1000;
//   stroke-dashoffset: 1000;
//   animation: dash 5s linear forwards;
// }
// @keyframes dash {
//   to {
//     stroke-dashoffset: 0;
//   }
// }
// .page-2 {
//   animation: kaboom 5s ease alternate infinite;
//   &:nth-child(2) {
//     animation-delay: 0.1s;
//   }
//   &:nth-child(3) {
//     animation-delay: 0.2s;
//   }
//   &:nth-child(4) {
//     animation-delay: 0.3s;
//   }
//   &:nth-child(5) {
//     animation-delay: 0.4s;
//   }
// }
// @keyframes kaboom {
//   90% {
//     transform: scale(1.0);
//   }
//   100% {
//     transform: scale(1.1);
//   }
// }
$pathNumber: 18;
// The color that will be at the beginning and the end of the loop.
$firstColor: #0057B8;
// The list of all the used colors. You can add or remove colors, the animation stays fluid. The $first-color must remain at the end of the list though.
$listColors: #F11E4A,
#F8A527,
#266D7F,
#82A,
$firstColor;
$delayCoeff: 0.1s;
.svg {
  display: inline-block;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #FFF;
  border-radius: 50%;
}

#svg13 {
  display: inline-block;
  vertical-align: middle;
  fill: $firstColor;
  @for $i from 1 through 72 {
    path:nth-child(#{$i}) {
      animation: pweek $delayCoeff*$pathNumber ease infinite;
      animation-delay: $i*$delayCoeff; // animation-iteration-count: 1;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

// @keyframes pweek {
//   0% {
//     fill: $firstColor;
//   }
//   @for $i from 1 through length($listColors) {
//     #{$i*(100/length($listColors))}% {
//       fill: nth($listColors, $i);
//     }
//   }
// }
footer {
  padding: 1em;
  font-size: 1em;
  opacity: 0.9;
  background-color: black;
  clear: both;
  text-align: center;
  @media #{$reg-phone-screen} {
    font-size: 12px;
  }
}