html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
  margin: 0;
  color: white;
  background-color: #efefef; }

h1 {
  font-size: 23px; }

h3 {
  font-size: 17px;
  font-weight: 400; }

p {
  font-size: 14px;
  font-weight: 100; }

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10; }
  .navbar .progress-bar-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    height: 5px;
    width: 100%;
    background-color: #FFCCBC; }
  .navbar .progress-bar {
    height: 5px;
    background-color: #FF5722; }

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  top: 0;
  /* Position the navbar at the top of the page */
  background-color: rgba(38, 50, 56, 0.95); }
  .nav-container .nav-item-contatiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 70%; }
    @media only screen and (max-width: 512px) {
      .nav-container .nav-item-contatiner {
        width: 90%; } }
    .nav-container .nav-item-contatiner .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%; }
    .nav-container .nav-item-contatiner .item-1 {
      width: 5%; }
      @media only screen and (max-width: 512px) {
        .nav-container .nav-item-contatiner .item-1 {
          width: 10%; } }
    .nav-container .nav-item-contatiner canvas {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid pink; }
  .nav-container a {
    font-size: 1em;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none; }
    @media only screen and (max-width: 512px) {
      .nav-container a {
        font-size: 12px; } }
    @media only screen and (max-width: 320px) {
      .nav-container a {
        font-size: 9px; } }
  .nav-container a:hover {
    padding-bottom: 5px;
    text-decoration: underline; }

.background {
  position: relative;
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  @media only screen and (max-width: 512px) {
    .background {
      background-attachment: scroll; } }

.page-1 {
  background-color: #B9D5FF;
  flex-direction: column; }

.page-3 {
  background: url("../img/second-page-bg.png") no-repeat center center fixed; }

.page-4 {
  background: url("../img/63.jpg") no-repeat center center fixed; }

.page-1,
.page-2,
.page-3,
.page-4 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .page-1 .main-content-container,
  .page-2 .main-content-container,
  .page-3 .main-content-container,
  .page-4 .main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    color: #0400ff;
    border: 2px solid pink; }
    .page-1 .main-content-container .about-content,
    .page-2 .main-content-container .about-content,
    .page-3 .main-content-container .about-content,
    .page-4 .main-content-container .about-content {
      width: 45%;
      height: 45%;
      display: flex;
      justify-content: center;
      align-items: center; }

.ac-3 {
  width: 90%;
  height: 45%; }

.cloud-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 1%; }

.cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
  height: 100%;
  z-index: 2; }
  .cloud #cloud1 {
    width: 70%;
    height: 70%; }
  .cloud #cloud2 {
    width: 50%;
    height: 50%; }
  .cloud #cloud3 {
    width: 80%;
    height: 80%; }

.cloud1 {
  justify-content: flex-start;
  align-items: flex-start; }

.cloud2 {
  justify-content: flex-start;
  align-items: flex-end; }

.page-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%; }
  @media only screen and (max-width: 512px) {
    .page-content-container {
      height: 15%; } }

#main-page-title {
  height: 40%; }
  @media only screen and (max-width: 512px) {
    #main-page-title {
      height: 15%; } }

#empty {
  height: 0%; }
  @media only screen and (max-width: 512px) {
    #empty {
      height: 15%; } }

#ship-and-rocket {
  justify-content: space-around; }

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
  width: 80%;
  font-family: 'Fredericka the Great';
  font-size: 13vmin; }
  @media only screen and (max-width: 512px) {
    .loading {
      font-size: 105px; } }

.water-fill {
  animation: wave 1s infinite linear, fill-up 10s ease-out alternate; }

@-webkit-keyframes wave {
  0% {
    x: -400px; }
  100% {
    x: 0; } }

@keyframes wave {
  0% {
    x: -400px; }
  100% {
    x: 0; } }

@-webkit-keyframes fill-up {
  0% {
    height: 0;
    y: 130px; }
  100% {
    height: 160px;
    y: -30px; } }

@keyframes fill-up {
  0% {
    height: 0;
    y: 130px; }
  100% {
    height: 160px;
    y: -30px; } }

.wave {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }
  @media only screen and (max-width: 512px) {
    .wave {
      height: 50%; } }

.wave + .wave {
  z-index: 2; }

.helper,
.rocket-drone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
  height: 100%;
  flex-direction: column; }
  .helper #boat-svg,
  .rocket-drone-wrapper #boat-svg {
    width: 100%;
    height: 100%; }
  @media only screen and (max-width: 512px) {
    .helper,
    .rocket-drone-wrapper {
      width: 40%; } }

.landingProgress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmin;
  height: 40%;
  z-index: 5; }
  .landingProgress pre code {
    position: relative;
    border-radius: 10px; }
  @media only screen and (max-width: 512px) {
    .landingProgress {
      display: none; } }

.rocket,
.drone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%; }

.rocket {
  margin-top: 3%;
  width: 100%;
  z-index: 1; }
  @media only screen and (max-width: 512px) {
    .rocket {
      margin-top: 17%;
      width: 50%; } }

.drone {
  width: 100%;
  min-width: 300px; }
  @media only screen and (max-width: 512px) {
    .drone {
      min-width: 170px; } }

.rocket {
  height: 80%;
  animation: landing 15s ease-in-out 0s alternate forwards; }
  @media only screen and (max-width: 512px) {
    .rocket {
      animation: landingMobile 15s ease-in-out 0s alternate forwards; } }

@keyframes landing {
  0% {
    bottom: 700px;
    left: 250px; }
  40% {
    bottom: 100px;
    left: 100px; }
  80% {
    bottom: 40px;
    left: 90px; }
  100% {
    bottom: 0px;
    left: 115px; } }

@keyframes landingMobile {
  0% {
    bottom: 500px;
    left: 10px; }
  40% {
    bottom: 100px;
    left: 50px; }
  80% {
    bottom: 40px;
    left: 5px; }
  100% {
    bottom: 5px;
    left: 0px; } }

#red-flame,
#orange-flame,
#yellow-flame {
  animation: stopFrame 10s ease-in-out 5s alternate forwards; }

@keyframes stopFrame {
  0% {
    opacity: 1; }
  80% {
    opacity: 1; }
  95% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

.drone {
  animation: catching 15s ease-in-out 0s alternate forwards; }

@keyframes catching {
  0% {
    left: 200px; }
  30% {
    left: -20px; }
  60% {
    left: 20px; }
  100% {
    left: 0px; } }

.helper {
  animation: floating 4s ease-in-out 0s infinite alternate; }

@keyframes floating {
  0% {
    bottom: 5px; }
  100% {
    bottom: 15px; } }

@media only screen and (max-width: 512px) {
  @keyframes floating {
    0% {
      bottom: -17px; }
    100% {
      bottom: -13px; } } }

.cloud1 {
  animation: roaming 6s ease-in-out 0s infinite alternate; }

.cloud2 {
  animation: roaming 9s ease-in-out 1s infinite alternate; }

.cloud3 {
  animation: roaming 8s ease-in-out 2s infinite alternate; }

@keyframes roaming {
  0% {
    left: 0px; }
  100% {
    left: 100px; } }

@media only screen and (max-width: 512px) {
  @keyframes roaming {
    0% {
      left: 0px; }
    100% {
      left: 25px; } } }

.svg {
  display: inline-block;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #FFF;
  border-radius: 50%; }

#svg13 {
  display: inline-block;
  vertical-align: middle;
  fill: #0057B8; }
  #svg13 path:nth-child(1) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.1s; }
    #svg13 path:nth-child(1):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(2) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.2s; }
    #svg13 path:nth-child(2):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(3) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.3s; }
    #svg13 path:nth-child(3):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(4) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.4s; }
    #svg13 path:nth-child(4):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(5) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.5s; }
    #svg13 path:nth-child(5):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(6) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.6s; }
    #svg13 path:nth-child(6):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(7) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.7s; }
    #svg13 path:nth-child(7):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(8) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.8s; }
    #svg13 path:nth-child(8):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(9) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 0.9s; }
    #svg13 path:nth-child(9):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(10) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1s; }
    #svg13 path:nth-child(10):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(11) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.1s; }
    #svg13 path:nth-child(11):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(12) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.2s; }
    #svg13 path:nth-child(12):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(13) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.3s; }
    #svg13 path:nth-child(13):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(14) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.4s; }
    #svg13 path:nth-child(14):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(15) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.5s; }
    #svg13 path:nth-child(15):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(16) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.6s; }
    #svg13 path:nth-child(16):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(17) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.7s; }
    #svg13 path:nth-child(17):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(18) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.8s; }
    #svg13 path:nth-child(18):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(19) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 1.9s; }
    #svg13 path:nth-child(19):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(20) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2s; }
    #svg13 path:nth-child(20):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(21) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.1s; }
    #svg13 path:nth-child(21):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(22) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.2s; }
    #svg13 path:nth-child(22):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(23) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.3s; }
    #svg13 path:nth-child(23):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(24) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.4s; }
    #svg13 path:nth-child(24):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(25) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.5s; }
    #svg13 path:nth-child(25):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(26) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.6s; }
    #svg13 path:nth-child(26):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(27) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.7s; }
    #svg13 path:nth-child(27):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(28) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.8s; }
    #svg13 path:nth-child(28):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(29) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 2.9s; }
    #svg13 path:nth-child(29):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(30) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3s; }
    #svg13 path:nth-child(30):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(31) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.1s; }
    #svg13 path:nth-child(31):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(32) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.2s; }
    #svg13 path:nth-child(32):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(33) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.3s; }
    #svg13 path:nth-child(33):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(34) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.4s; }
    #svg13 path:nth-child(34):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(35) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.5s; }
    #svg13 path:nth-child(35):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(36) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.6s; }
    #svg13 path:nth-child(36):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(37) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.7s; }
    #svg13 path:nth-child(37):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(38) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.8s; }
    #svg13 path:nth-child(38):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(39) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 3.9s; }
    #svg13 path:nth-child(39):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(40) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4s; }
    #svg13 path:nth-child(40):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(41) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.1s; }
    #svg13 path:nth-child(41):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(42) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.2s; }
    #svg13 path:nth-child(42):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(43) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.3s; }
    #svg13 path:nth-child(43):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(44) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.4s; }
    #svg13 path:nth-child(44):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(45) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.5s; }
    #svg13 path:nth-child(45):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(46) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.6s; }
    #svg13 path:nth-child(46):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(47) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.7s; }
    #svg13 path:nth-child(47):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(48) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.8s; }
    #svg13 path:nth-child(48):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(49) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 4.9s; }
    #svg13 path:nth-child(49):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(50) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5s; }
    #svg13 path:nth-child(50):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(51) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.1s; }
    #svg13 path:nth-child(51):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(52) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.2s; }
    #svg13 path:nth-child(52):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(53) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.3s; }
    #svg13 path:nth-child(53):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(54) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.4s; }
    #svg13 path:nth-child(54):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(55) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.5s; }
    #svg13 path:nth-child(55):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(56) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.6s; }
    #svg13 path:nth-child(56):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(57) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.7s; }
    #svg13 path:nth-child(57):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(58) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.8s; }
    #svg13 path:nth-child(58):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(59) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 5.9s; }
    #svg13 path:nth-child(59):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(60) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6s; }
    #svg13 path:nth-child(60):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(61) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.1s; }
    #svg13 path:nth-child(61):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(62) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.2s; }
    #svg13 path:nth-child(62):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(63) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.3s; }
    #svg13 path:nth-child(63):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(64) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.4s; }
    #svg13 path:nth-child(64):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(65) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.5s; }
    #svg13 path:nth-child(65):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(66) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.6s; }
    #svg13 path:nth-child(66):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(67) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.7s; }
    #svg13 path:nth-child(67):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(68) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.8s; }
    #svg13 path:nth-child(68):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(69) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 6.9s; }
    #svg13 path:nth-child(69):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(70) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 7s; }
    #svg13 path:nth-child(70):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(71) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 7.1s; }
    #svg13 path:nth-child(71):hover {
      animation-play-state: paused; }
  #svg13 path:nth-child(72) {
    animation: pweek 1.8s ease infinite;
    animation-delay: 7.2s; }
    #svg13 path:nth-child(72):hover {
      animation-play-state: paused; }

footer {
  padding: 1em;
  font-size: 1em;
  opacity: 0.9;
  background-color: black;
  clear: both;
  text-align: center; }
  @media only screen and (max-width: 512px) {
    footer {
      font-size: 12px; } }
